.projects {
  padding: 20px 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  background-color: rgb(46, 46, 46);
  color: white;
}

.projects .heading {
  font-size: 48px;
}

.project-div{
  width: 90%;
  margin-top: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.proj-cont {
  height: 450px;
  width: 350px;
  background-color: rgba(99, 99, 99, 0.718);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  gap: 10px;
  position: relative;
}
.proj-img {
  height: 160px;
  width: 100%;
  border-radius: 5px;
}
.proj-img img{
  height: 100%;
  width: 100%;
  border-radius: 5px;

}
.proj-info {
  gap: 20px;
}
.proj-info p{
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.proj-info .btn {
  padding: 5px 10px;
  background-color: rgba(110, 110, 110, 0.651);
  border-radius: 5px;
}
.button{
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  position: absolute;
  padding: 15px;
  bottom: 0;
  left: 0;
}
.proj-info .btn:hover {
  background-color: rgba(32, 32, 32, 0.43);
}
.proj-info strong {
  font-weight: 400;

}
.icons{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.icons img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.proj-info p {

}
@media only screen and (max-width: 600px) {
    

}
