.projects {
  height: 500vh;
  width: 100vw;
  background-color: rgb(5, 30, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  /*I can increase the lenght with help of leght of array*/
}
.projects .heading {
  color: aqua;
  font-size: 3.5rem;
  margin-top: 20px;
}
.line {
  height: 7px;
  width: 80%;
  background-color: aqua;
  margin-top: 15px;
}
.proj-head {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.proj-cont {
  height: 50%;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 60px;
  display: flex;
  gap: 10px;
  box-shadow: 0 0 4px rgb(59, 239, 255);
}
.proj-img {
  height: 80%;
  width: 49%;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.proj-img img {
  height: 80%;
  width: 80%;
  border: 1px solid white;
}
.proj-info {
  height: 100%;
  width: 51%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.proj-info .btn {
  padding: 0.4rem 0.8rem;
  background-color: rgb(255, 206, 45);
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 100px;
  color: white;
}
.button{
  display: flex;
  gap: 20px;
}
.proj-info .btn:hover {
  color: white;
  background-color: rgb(229, 188, 43);
}
.proj-info strong {
  font-size: 2.5rem;
  color: white;
  margin-top: 50px;
}
.icons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.icons img{
  height: 20px;
  width: 20px;
}
.proj-info p {
  font-size: 1rem;
  color: white;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
    .projects .heading {
        color: aqua;
        font-size: 2.5rem;
        margin-top: 18px;
      }
  .proj-cont {
    flex-direction: column;
    padding: 10px;
  }
  .proj-img{
    height: 35%;
    width: 100%;
  }
  .proj-info{
    height: 85%;
    width: 100%;
  }
  .projects .line{
    height: 1px;
    margin-top: 4px;
    width: 40%;
    margin-right: 20px;
  }
  .proj-img img {
    height: 100%;
    width: 100%;
  }
  .proj-info {

  }
  .proj-info strong {
    font-size: 1.5rem;
    margin-top: 20px;
    color: white;
  }
  .proj-info p {
    font-size: 0.8rem;
    color: white;
  }
  .proj-info .btn {
    padding: 3px 5px;
    background-color: orange;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    width: 80px;
  }
}
