@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
  font-family: poppins;

}
html{
  scroll-behavior: smooth;
}

/* @maxin mobile{
  @media (max-width:730px) {
    @content;
  }
} */

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}
.App{
  height: 100vh;
  width: 100vw;
}